.navbar-awal-masuk{
  margin-bottom:0px;
  background-color:transparent;
  background:transparent;
  border-color:transparent;
  box-shadow:none;
  margin-top:30px;
  position:absolute;
  margin-left:30px;
}

.icon-bar{
  color:white;
}

#menu{
  color:white;
  padding-right:30px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
  background:rgb(252,157,46);
  color:rgb(255,255,255);
  padding-left:40px;
  padding-right:40px;
  border-radius:70px;
}

ul.nav.navbar-nav.navbar-right{
  font-size:16px;
  margin-top:10px;
}

a#menu-navbar.menu{
  color:rgb(252,255,255);
}

a#menu-register{
  color:white;
  padding-left:30px;
  padding-right:30px;
}

a.navbar-brand.navbar-link.Brand{
  color:rgb(248,248,248);
  font-size:30px;
  margin-top:-10px;
  font-family:Brotherina;
}

a#drop-menu.dropdown-toggle{
  color:rgb(244,247,248);
  padding-left:30px;
  padding-right:30px;
  background:transparent;
  border-radius:50px;
}

a#drop-menu-aktif.dropdown-toggle{
  color:rgb(244,247,248);
  background:rgb(252,157,46);
  padding-left:30px;
  padding-right:30px;
  border-radius:50px;
}

ul#menu-tambahan.dropdown-menu{
  background-color:rgb(252,157,46);
}

li.isi-menu{
  font-size:17px;
}

a#warna{
  color:white;
}

a#warna-contact{
  color:white;
  font-size:17px;
}

li.active.box{
  display:block;
}

img.logo{
  max-height:45px;
  margin-right:8px;
  display:inline-block;
}

.bg-peternakan{
  background:url("../../assets/img/peternakan.png");
  height:100vh;
  background-repeat:no-repeat;
  background-size:auto;
  margin-bottom:0px;
  padding-bottom:0px;
  font-family:comic sans ms;
}

.bg-petunjuk1{
  background:url("../../assets/img/petunjuk1.png");
  height:100vh;
  background-repeat:no-repeat;
  background-size:auto;
  margin-bottom:0px;
  padding-bottom:0px;
  font-family:comic sans ms;
}

.bg-petunjuk2{
  background:url("../../assets/img/petunjuk2.png");
  height:100vh;
  background-repeat:no-repeat;
  background-size:auto;
  margin-bottom:0px;
  padding-bottom:0px;
  font-family:comic sans ms;
}

.bg-petunjuk3{
  background:url("../../assets/img/petunjuk3.png");
  height:100vh;
  background-repeat:no-repeat;
  background-size:auto;
  margin-bottom:0px;
  padding-bottom:0px;
  font-family:comic sans ms;
}

.bg-distribusi{
  background:url("../../assets/img/distribusi.png");
  height:100vh;
  background-repeat:no-repeat;
  background-size:auto;
  margin-bottom:0px;
  padding-bottom:0px;
  font-family:comic sans ms;
}

.bg-halAwal{
  background:url("../../assets/img/menu-awal.png");
  height:100vh;
  background-repeat:no-repeat;
  margin-bottom:0px;
  padding-bottom:0px;
  font-family:comic sans ms;
  resize:both;
}

.bg-skor{
  background:url("../../assets/img/skor.png");
  height:100vh;
  background-repeat:no-repeat;
  margin-bottom:0px;
  padding-bottom:0px;
  font-family:comic sans ms;
  resize:both;
}

.bg-pabrik{
  background:url("../../assets/img/pabrik.png");
  height:100vh;
  background-repeat:no-repeat;
  background-size:auto;
  margin-bottom:0px;
  padding-bottom:0px;
  font-family:comic sans ms;
  text-align:center;
}

.dasar-formulir{
  width:480px;
  height:610px;
  text-align:center;
  background-color:white;
  border-radius:10px;
  margin:0 auto;
  margin-top:80px;
  box-shadow:1px 1px 35px rgb(102,101,101);
}

.dasar-formulir-login{
  width:480px;
  height:370px;
  text-align:center;
  background-color:white;
  border-radius:10px;
  margin:0 auto;
  margin-top:80px;
  box-shadow:1px 1px 35px rgb(102,101,101);
}

.form-group{
  width:380px;
  margin:0 auto;
  padding-top:40px;
}

.input-group{
  height:40px;
}

.input-text{
  height:40px;
  font-size:17px;
}

.fa.fa-user{
  font-size:25px;
  padding-left:10px;
  padding-right:10px;
  color:rgb(255,255,255);
}

.fa.fa-lock{
  font-size:25px;
  padding-right:10px;
  padding-left:10px;
  color:white;
}

.ikon{
  font-size:25px;
  padding-right:10px;
  padding-left:10px;
  color:white;
}

.text-login{
  text-align:left;
  padding-left:40px;
  margin-bottom:-20px;
  font-size:27px;
}

.logo-login{
  margin-top:-100px;
  width:120px;
  margin-bottom:-20px;
}

p.keterangan-registrasi{
  margin-top:10px;
  margin-bottom:-10px;
}

.logo-hal-awal{
  width:380px;
  margin-top:40px;
}

.judul-halAwal{
  text-align:center;
  color:white;
}

h3.judul-halAwal.keterangan{
  font-size:16px;
}

.letak-hasil{
  text-align:right;
  padding-top:20px;
  margin-right:80px;
}

.letak-kanan{
  text-align:right;
  margin-right:45px;
}

.footer-dasar{
  background-color:rgb(47,82,89);
  height:80px;
  margin-top:90px;
}

.keterangan-footer{
  color:white;
  text-align:center;
  padding-top:26px;
  font-size:20px;
}

.contain-halAwal{
  background-color:rgb(250,253,255);
  height:50vh;
  width:100%;
  position:relative;
}

.garis-samping{
  width:14px;
  height:50vh;
  background-color:rgb(112,160,204);
  margin-left:0px;
  margin-top:0px;
  margin-bottom:0px;
  position:absolute;
}

.jarak-contain-HalAwal{
  margin-left:50px;
  margin-top:100px;
}

p.jarak-contain-HalAwal{
  margin-top:0px;
  text-align:right;
  margin-left:150px;
}

img.gambar-contain-HalAwal{
  height:150px;
  margin-left:10%;
  margin-top:15%;
}

div.container-fluid.hal-awal{
  margin-top:0px;
  position:absolute;
  padding-top:0px;
  padding-left:0px;
}

hr.garis-samping.kedua{
  margin-right:0px;
}

.bg-login.profil{
  height:110px;
}

div.container.tabel-profil-ibu{
  padding-top:10px;
  width:47%;
}

h2.judul-profil-ibu{
  text-align:center;
  padding-bottom:10px;
}

.kolom-nama{
  width:120px;
}

.garis-profil-ibu{
  height:2px;
  background-color:rgb(70,198,207);
  width:80%;
  margin-top:15px;
  margin-bottom:30px;
}

.ubah-profil-ibu{
  width:150px;
  border-radius:50px;
  margin-left:60%;
  margin-top:10px;
}

.tabel-anak{
  width:80%;
}

.keterangan-tambah-anak{
  margin-bottom:5px;
  font-style:normal;
  margin-top:20px;
}

.text-inputan{
  width:100%;
  height:40px;
}

.inputan-pemeriksaan{
  width:80%;
  height:35px;
  border-radius:5px;
}

.inputan-tanggal{
  width:40%;
  height:35px;
  border-radius:5px;
}

.text-cari{
  width:150px;
  height:50px;
}

.kolom-tambah-data{
  padding-left:60vh;
  padding-right:60vh;
  padding-top:30px;
  position:absolute;
  font-family:century gothic;
}

.check-alatkel{
  font-size:20px;
}

.tabel-agenda{
  background:white;
  height:100vh;
  width:100%;
  background-size:cover;
  text-align:center;
  margin-top:0px;
  padding-top:0px;
}

.tabel-jadwal{
  width:80%;
  height:60%;
  padding-top:10px;
}

.dasar-agenda1{
  background:rgb(96,210,200);
  height:100vh;
  width:100%;
  padding-top:40px;
}

.kerangka-keterangan{
  margin-left:120px;
  margin-right:120px;
  margin-top:20px;
  text-align:left;
}

.kerangka-keterangan2{
  margin-left:120px;
  margin-right:120px;
  margin-top:-5px;
  text-align:left;
}

.keterangan-jadwal{
  margin-left:0px;
  padding-left:0px;
  margin-top:6px;
}

p.tulisan-keterangan-jadwal{
  font-family:century gothic;
  font-weight:900;
}

h2.judul-agenda{
  font-family:century gothic;
  font-weight:500;
  margin-top:50px;
}

h2.judul-pesan{
  font-family:century gothic;
  font-weight:500;
}

h2.text-center.agenda-ibu-judul{
  color:white;
  font-family:century gothic;
  font-weight:500;
}

.tabel-jadwal-ibu{
  margin-top:40px;
  padding-left:80px;
  padding-right:80px;
  font-family:century gothic;
}

.tabel-laporan-kesehatan{
  margin-top:40px;
  padding-right:0px;
  padding-left:0px;
  font-family:century gothic;
}

.tabel-laporan-imunisasi{
  margin-top:40px;
  font-family:century gothic;
  width:70%;
}

.dasar-tabel-pesan{
  margin-top:40px;
  font-family:century gothic;
  width:90%;
  height:90%;
  background-size:cover;
  padding-top:10px;
  padding-left:40px;
  padding-right:40px;
}

thead.judul-tabel-jadwal{
  color:rgb(247,253,254);
}

thead.judul-tabel-pesan{
  color:rgb(249,249,249);
}

.submit-nama{
  width:120px;
  margin-left:2%;
}

.submit-cari-pemeriksaan{
  width:100px;
  margin-top:35px;
  margin-left:-70px;
}

.isi-jadwal{
  color:rgb(255,255,255);
  font-family:century gothic;
}

.isi-tabel{
  text-align:left;
  color:white;
}

.bg-tanyadokter{
  background:rgb(255,255,255);
  height:100%;
  width:100%;
  background-size:cover;
}

.bg-chat{
  background:rgb(93,207,201);
  height:80%;
  width:80%;
  margin-top:25px;
  font-family:century gothic;
  box-shadow:1px 2px 3px 2px rgb(95,94,94);
}

.inputan-tanya{
  margin-left:0px;
  height:130px;
  width:100%;
  margin-top:20px;
  margin-bottom:10px;
}

.keterangan-tanya-dokter{
  color:white;
  font-weight:500;
}

.batas-bgpesan{
  background:white;
  padding-top:0px;
  margin-top:0px;
  height:100vh;
}

.warna-tabel{
  background:rgb(79,201,203);
}

.form-pemeriksaan{
  margin-top:40px;
  padding-left:70px;
  padding-right:70px;
  font-family:century gothic;
}

.baris-form{
  margin-top:20px;
}

.inputan-pemeriksaan.catatan{
  height:70px;
}

.btn-proses{
  width:230px;
  padding-top:10px;
  padding-bottom:10px;
  font-size:22px;
  margin-left:-30px;
}

.btn-proses2{
  width:250px;
  margin-bottom:20px;
  padding-top:11px;
  padding-bottom:11px;
  border-radius:30px;
  font-size:25px;
  margin-left:-100px;
}

.btn-selanjutnya{
  width:250px;
  margin-bottom:20px;
  font-size:25px;
  padding-top:11px;
  padding-bottom:11px;
  border-radius:30px;
}

.btn-back{
  width:250px;
  margin-bottom:20px;
  font-size:25px;
  padding-top:11px;
  padding-bottom:11px;
  border-radius:30px;
}

.btn-mulai{
  width:250px;
  margin-top:350px;
  margin-bottom:20px;
  font-size:20px;
  padding-top:12px;
  padding-bottom:12px;
  border-radius:80px;
  margin-left:830px;
  background:rgb(240,106,100);
  text-align:center;
  border:none;
}

.btn-mainlagi{
  width:250px;
  font-size:18px;
  padding-top:8px;
  padding-bottom:8px;
  border-radius:30px;
  margin-left:20px;
}

.btn-petunjuk{
  width:250px;
  font-size:18px;
  padding-top:8px;
  padding-bottom:8px;
  margin-bottom:20px;
  border-radius:30px;
}

.input-lg.hasil{
  height:50px;
  padding:10px 16px;
  font-size:25px;
  line-height:1.3333333;
  border-radius:6px;
<<<<<<< Updated upstream
  width:150px;
=======
  width:250px;
  margin-right: -55px;
>>>>>>> Stashed changes
  background:transparent;
  border:none;
}

.jumlah-susu{
  height:50px;
  padding:10px 16px;
  font-size:25px;
  line-height:1.3333333;
  border-radius:6px;
  width:150px;
  background:transparent;
  border:none;
  margin-left:1130px;
  position:absolute;
  margin-top:20px;
}

div.row.pilihan{
  margin-top:520px;
  padding-left:30px;
}

div.row.permintaan{
  margin-top:450px;
  padding-left:30px;
}

div.row.permintaan2{
  margin-top:20px;
  padding-left:30px;
}

.masukkan{
  background-color:rgb(238,83,70);
  border-radius:20px;
  width:200px;
  color:white;
  border-style:none;
}

.masukkan1{
  background-color:rgb(251,208,59);
  border-radius:20px;
  width:200px;
  color:white;
  border-style:none;
}

div.row.peternakan{
  padding-top:490px;
  text-align:center;
}

div.row.pabrik{
  padding-top:530px;
  text-align:center;
}

.input-data{
  background:transparent;
  border:none;
  color:rgb(10,16,10);
  width:45%;
  font-size:40px;
  margin-right:30px;
<<<<<<< Updated upstream
=======
  text-align: center;
>>>>>>> Stashed changes
}

.output-data{
  background:transparent;
  border:none;
  color:rgb(10,16,10);
  width:55%;
  font-size:40px;
  margin-right:80px;
<<<<<<< Updated upstream
=======
  margin-left: -25px;
  text-align: center;
>>>>>>> Stashed changes
}

.bg-halAkhir{
  background:rgb(221,220,174);
  background-size:cover;
}

.kategori{
  padding-left:60px;
  font-size:23px;
  font-family:comic sans ms;
  color:rgb(68,62,52);
  font-weight:600;
}

h1.text-center.text-info.hasil-akhir{
  color:rgb(68,62,52);
  margin-bottom:40px;
  font-family:comic sans ms;
}

.kolom-hasil{
  font-size:23px;
  background:transparent;
  color:rgb(68,62,52);
  border:none;
}

.jarak-kategori{
  margin-bottom:20px;
}

div.mainlagi{
  margin-top:70px;
  text-align:right;
}

.jumlah-permintaan3{
  background:transparent;
  color:white;
  font-size:25px;
  width:60%;
  margin-left:40px;
  border-style:groove;
}

.jumlah-permintaan1{
  background:transparent;
  border-style:groove;
  color:white;
  font-size:25px;
  width:60%;
  margin-left:-60px;
}

.jumlah-permintaan{
  background:transparent;
  border-style:groove;
  color:white;
  font-size:25px;
  width:60%;
}

.kirim{
  width:70%;
  margin-left:35px;
}

.kirim2{
  width:70%;
  margin-left:-10px;
}

.kirim1{
  width:70%;
  margin-left:-69px;
}

.icon-pilihan{
  color:white;
}

button.btn.btn-default.active.btn-lg.dropdown-toggle.pilihan{
  background:transparent;
  border:hidden;
  font-size:45px;
  border-style:none;
  text-align:center;
  padding-left:20px;
  padding-right:20px;
  padding-top:5px;
  padding-bottom:5px;
}

div.dropdown.pilihan{
  padding-top:20px;
  padding-left:30px;
  position:absolute;
}

.dropdown-menu-left.pilihan{
  margin-left:30px;
  font-size:19px;
  background:rgb(255,255,255);
}

.dropdown-menu > li > a{
  display:block;
  padding:7px 20px;
  clear:both;
  font-weight:600;
  line-height:1.42857143;
  color:#1b89a6;
  white-space:nowrap;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
  color:#fafcfc;
  text-decoration:none;
  background:rgb(251,193,40);
}

.symbol-pilihan{
  margin-right:20px;
}

select.input-lg.pilihan{
  background-color:rgb(242,148,61);
  color:white;
  border-radius:20px;
  width:200px;
  border-style:none;
}

select.input-lg.pilihan1{
  background-color:rgb(79,193,194);
  color:white;
  border-radius:20px;
  width:200px;
  border-style:none;
}

div.container-fluid.letak-pilihan{
  margin-top:-20px;
}

.masukkan::webkit-input-placeholder{
  color:white;
}

.button-next{
  position:absolute;
  margin-top:280px;
  background:rgb(42,100,151);
  color:white;
  height:90px;
  width:90px;
  border-radius:80px;
  text-align:center;
  margin-left:40px;
  border-width:3px;
  border-color:white;
}

.button-back{
  position:absolute;
  margin-top:280px;
  background:rgb(42,100,151);
  color:white;
  height:90px;
  width:90px;
  border-radius:80px;
  text-align:center;
  margin-left:40px;
  border-width:3px;
  border-color:white;
}

.button-back{
  position:absolute;
  margin-top:280px;
  background:rgb(42,100,151);
  color:white;
  height:90px;
  width:90px;
  border-radius:80px;
  text-align:center;
  margin-left:1230px;
  border-width:3px;
  border-color:white;
}

i.material-icons.next{
  font-size:50px;
}

input.input-sm.p-1{
  height:35px;
  width:70px;
  margin-left:845px;
  margin-top:67px;
  font-size:20px;
  color:rgb(102,68,32);
}

input.input-sm.p-2{
  height:35px;
  width:70px;
  margin-left:120px;
  margin-top:75px;
  font-size:20px;
  color:rgb(102,68,32);
  position:absolute;
}

input.input-sm.p-3{
  height:35px;
  width:70px;
  margin-left:828px;
  margin-top:139px;
  font-size:20px;
  color:rgb(102,68,32);
  position:absolute;
}

.btn-kirim{
  border-radius:5px;
  width:80px;
  margin-left:842px;
  margin-top:132px;
}

.btn-kirim2{
  border-radius:5px;
  width:80px;
  margin-left:115px;
  margin-top:237px;
  position:absolute;
}

.btn-kirim3{
  border-radius:5px;
  width:80px;
  margin-left:826px;
  margin-top:305px;
  position:absolute;
}

div.container-fluid.order{
  position:absolute;
}

input.input-sm.skor-P{
  background:transparent;
  height:55px;
<<<<<<< Updated upstream
  width:90px;
=======
  width:150px;
>>>>>>> Stashed changes
  color:rgb(212,53,55);
  font-size:30px;
  border:none;
<<<<<<< Updated upstream
  margin-left:580px;
=======
  margin-left:560px;
>>>>>>> Stashed changes
  margin-top:180px;
}

input.input-sm.skor-P2{
  background:transparent;
  height:55px;
<<<<<<< Updated upstream
  width:90px;
=======
  width:150px;
>>>>>>> Stashed changes
  color:rgb(255,255,255);
  font-size:30px;
  border:none;
<<<<<<< Updated upstream
  margin-left:580px;
  margin-top:75px;
}

=======
  margin-left:560px;
  margin-top:75px;
}

input.input-sm.skor-P3{
  background:transparent;
  height:55px;
  width:300px;
  color:rgb(255,255,255);
  font-size:23px;
  border:none;
  margin-left:560px;
  margin-top:80px;
}

>>>>>>> Stashed changes
.skor-btn{
  height:53px;
  width:400px;
  font-size:20px;
  margin-left:370px;
  margin-top:43px;
}

.home{
  color:white;
  background:transparent;
  height:80px;
  width:85px;
  font-size:45px;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
  position:absolute;
  border:none;
}

